@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}
<h2>Room Amenities Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amenities.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { item.AmenitiesID, item.RoomID }) |
                    @Html.ActionLink("Delete", "Delete", new { item.AmenitiesID, item.RoomID })
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="../Home/Index">Back to main page</a>
